<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comment Extended Conversation</title>

    <link rel="stylesheet" media="screen, print" href="{{ asset('smartadmin/css/fa-brands.css') }}">
    <link rel="stylesheet" media="screen, print" href="{{ asset('smartadmin/css/fa-light.css') }}">
    <link id="vendorsbundle" rel="stylesheet" media="screen, print" href="{{ asset('smartadmin/css/vendors.bundle.css') }}">
    <link id="appbundle" rel="stylesheet" media="screen, print" href="{{ asset('smartadmin/css/app.bundle.css') }}">
    <link id="myskin" rel="stylesheet" media="screen, print" href="{{ asset('smartadmin/css/skins/skin-master.css') }}">
    <link id="stingcss" rel="stylesheet" media="screen, print" href="{{ asset('smartadmin/css/stingcms.css') }}">
</head>
<style>
    body {
        user-select: none;
    }
</style>
<body style="background: transparent">
<script>
    /**
     *	This script should be placed right after the body tag for fast execution
     *	Note: the script is written in pure javascript and does not depend on thirdparty library
     **/
    'use strict';

    var classHolder = document.getElementsByTagName("BODY")[0],
        /**
         * Load from localstorage
         **/
        themeSettings = (localStorage.getItem('themeSettings')) ? JSON.parse(localStorage.getItem('themeSettings')) :
            {},
        themeURL = themeSettings.themeURL || '',
        themeOptions = themeSettings.themeOptions || '';
    /**
     * Load theme options
     **/
    if (themeSettings.themeOptions)
    {
        classHolder.className = themeSettings.themeOptions;
        console.log("%c✔ Theme settings loaded","color: #148f32");
    }
    else
    {
        console.log("Heads up! Theme settings is empty or does not exist, loading default settings...");
    }
    if (themeSettings.themeURL && !document.getElementById('mytheme'))
    {
        var cssfile = document.createElement('link');
        cssfile.id = 'mytheme';
        cssfile.rel = 'stylesheet';
        cssfile.href = themeURL;
        document.getElementsByTagName('head')[0].appendChild(cssfile);
    }
    /**
     * Save to localstorage
     **/
    var saveSettings = function()
    {
        themeSettings.themeOptions = String(classHolder.className).split(/[^\w-]+/).filter(function(item)
        {
            return /^(nav|header|footer|mod|display)-/i.test(item);
        }).join(' ');
        if (document.getElementById('mytheme'))
        {
            themeSettings.themeURL = document.getElementById('mytheme').getAttribute("href");
        };
        localStorage.setItem('themeSettings', JSON.stringify(themeSettings));
    }
    /**
     * Reset settings
     **/
    var resetSettings = function()
    {
        localStorage.setItem("themeSettings","");
    }

</script>

{% set it0 = 0 %}
{% set it1 = 1 %}
<div class="d-flex w-100">
        {% for comment in commentary %}
<!-- Extended conversation comments -->
<div style="margin-right: 0.75rem" class="">
    <div class="d-flex position-absolutee flex-row rounded mt-2 pt-2 px-0 pb-0" style="border: 1px black solid; width: 400px; top: 0; left: calc(400px*{{ it0 }} + 1.5rem*{{ it0 }}); z-index: 2000; background: #707070">
        <div class="d-flex flex-row rounded d-inline-block pt-1 align-middle bg-light w-100 pb-2 px-2" style="border-top: 0 black solid;">
            <div class="d-inline-block align-middle status status-sm status-success mr-3">
                <span class="ml-1 mt-1 profile-image profile-image-md rounded d-block mt-1" style="background-image: url('{{ comment.AuthorAvatarFileUrl }}'); background-size: cover;"></span>
            </div>
            <div class="mb-0 flex-1 text-dark mr-1">
                <div class="d-flex">
                    <a href="javascript:void(0);" class="text-dark fw-500">
                        {{ comment.AuthorUsername }}
                    </a><span class="text-muted fs-xs opacity-70 ml-auto">
                        {{ comment.createdAt }}
                    </span>
                </div>
                <p class="mb-0">
                    {{ comment.Content }}
                </p>
                <div>
                    <a href="javascript: addHeart(  {{ comment.Id }}  );" class="d-inline-flex align-items-center text-dark">
                        <i class="fas fa-heart fs-xs mr-1 text-danger"></i> <span>0 Likes</span>
                    </a>

                    <a href="#answer_Comment.Id" data-toggle="collapse" aria-expanded="false" aria-controls="answer_Comment.Id"
                            {# onclick="changeCommgentCss(#comment_{{ post.Id }}_{{ loop.index }}, #comment_{{ post.Id }}_{{ loop.index1 }})" #}
                       class="float-right">
                                                                    <span data-toggle="tooltip" data-original-title="Create new Conversation" data-placement="top">
                                                                                        Answer to {{ comment.AuthorUsername }}  <i class="far fa-caret-down"></i>
                                                                                    </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{#                                     <div class="rounded mt-3 text-white-50 justify-content-center d-flex align-items-center bg-light position-absolutee" style="width: 20px; top: 0; height: 68px; border: #505050;">#}
{#                                             <i class="fal fa-angle-right fa-2x text-dark" style=""></i>#}
{#                                         </div>#}
<!-- end of Extended conversation comments -->
        {% if comment.CommentConversation|length > 0 %}
        {% for CommentInside in comment.CommentConversation %}
<div class="pl-0 d-flex flex-row w-100 pb-0 pt-4">
    <div class="d-inline-block align-middle status status-sm status-success mr-3">
        <span class="profile-image profile-image-md rounded-circle d-block mt-1" style="background-image:url(  insideComment.AuthorAvatarFileUrl  ); background-size: cover;"></span>
    </div>
    <div class="mb-0 flex-1 text-dark">
        <div class="d-flex">
            <a href="javascript:void(0);" class="text-dark fw-500">
                insideComment.AuthorFirstName"""  insideComment.AuthorUsername"""  insideComment.AuthorLastName
            </a><span class="text-muted fs-xs opacity-70 ml-auto">
    insideComment.createdAt
       </span>
        </div>
        <p class="mb-0">
            insideComment.Content
        </p>

        <div>
            <a href="javascript: addHeart(  insideComment.Id  );" class="d-inline-flex align-items-center text-dark">
                <i class="fas fa-heart fs-xs mr-1 text-danger"></i> <span>0 Likes</span>
            </a>
            <a href="#answer_insideComment.Id" data-toggle="collapse" aria-expanded="false" aria-controls="answer_insideComment.Id"
                    {# onclick="changeCommgentCss(#comment_{{ post.Id }}_{{ loop.index }}, #comment_{{ post.Id }}_{{ loop.index1 }})" #}
               class="float-right">
                                                <span data-toggle="tooltip" data-original-title="Create new Conversation" data-placement="top">
                                                                                                Answer to   insideComment.AuthorUsername   <i class="far fa-caret-right"></i>
                                                                                            </span>
            </a>
        </div>


    </div>
</div>
<!-- add comment -->
<div class="py-3 w-100 collapse" id="answer_insideComment.Id"><form id="COMMENTinconversation_insideComment.Id" method="post">
                                    <textarea id="new_comment_to_the_conversation_insideComment.Id" class="form-control border-0 p-0"  name="Comment_content" placeholder="add a comment..."
                                              rows="2" style="background-color: unset" onkeypress="submitCommentToComment('comment',  insideComment.Id , '3')"></textarea>
        <input type="hidden" name="_token" value="{{ csrf_token("comment") }}">
        <input type="submit"
               style="position: absolute; left: -9999px; width: 1px; height: 1px;"
               tabindex="-1" />
    </form>
</div>
<!-- add comment end -->

        {% endfor %}
        {% endif %}

<div id="conversation_target_Comment.Id  _after"> </div>

<!-- add comment -->
<div class="py-3 w-100 collapse" id="answer_Comment.Id"><form id="COMMENTinconversation_Comment.Id" method="post">
                                    <textarea id="new_comment_to_the_conversation_Comment.Id" class="form-control border-0 p-0"  name="Comment_content" placeholder="add a comment..."
                                              rows="2" style="background-color: unset" onkeypress="submitCommentToComment('comment',  Comment.Id , '2')"></textarea>
        <input type="hidden" name="_token" value="{{ csrf_token("comment") }}">
        <input type="submit"
               style="position: absolute; left: -9999px; width: 1px; height: 1px;"
               tabindex="-1" />
    </form>
</div>
<!-- add comment end -->
{% set it0 = it0 + 1 %}
{% set it1 = it1 + 1 %}

{% endfor %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    (function($) {
        $.dragScroll = function(options) {
            var settings = $.extend({
                scrollVertical: true,
                scrollHorizontal: true,
                cursor: null
            }, options);

            var clicked = false,
                clickY, clickX;

            var getCursor = function() {
                if (settings.cursor) return settings.cursor;
                if (settings.scrollVertical && settings.scrollHorizontal) return 'move';
                if (settings.scrollVertical) return 'row-resize';
                if (settings.scrollHorizontal) return 'col-resize';
            }

            var updateScrollPos = function(e, el) {
                $('html').css('cursor', getCursor());
                var $el = $(el);
                settings.scrollVertical && $el.scrollTop($el.scrollTop() + (clickY - e.pageY));
                settings.scrollHorizontal && $el.scrollLeft($el.scrollLeft() + (clickX - e.pageX));
            }

            $(document).on({
                'mousemove': function(e) {
                    clicked && updateScrollPos(e, this);
                },
                'mousedown': function(e) {
                    clicked = true;
                    clickY = e.pageY;
                    clickX = e.pageX;
                },
                'mouseup': function() {
                    clicked = false;
                    $('html').css('pointer', 'auto');
                }
            });
        }
    }(jQuery))

    $.dragScroll();
</script>
{#<script src="{{ asset('smartadmin/js/vendors.bundle.js') }}"></script>#}
{#<script src="{{ asset('smartadmin/js/app.bundle.js') }}"></script>#}
</body>
</html>
