{% extends 'smartadmin/base.html.twig' %}

{% block content %}
    <main id="js-page-content" role="main" class="page-content">
        <ol class="breadcrumb page-breadcrumb">
            <li class="breadcrumb-item"><a href="/">{{ APP_NAME }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_profile', {'profile': profile.Username}) }}">{{ profile.Username }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('user_forum', {'profile': profile.Username}) }}">{{ forumCre.name }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_forum_threads_list', {'forumtableid': forum.id}) }}">{{ forum.name }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_forum_thread_user', {'threadid': thread.id}) }}#">{{ thread.Title }}</a></li>
            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
        </ol>
        <div class="subheader">
            <h1 class="subheader-title">
                <i class='subheader-icon fal fa-plus-circle'></i> Subject: <span class='fw-300'>{{ thread.Title }}</span>
            </h1>
        </div>
        <div class="row">

            <div class="col-4">
                <h3>Test</h3>
            </div>

        </div>
    </main>
    <!-- this overlay is activated only when mobile menu is triggered -->
    <div class="page-content-overlay" data-action="toggle" data-class="mobile-nav-on"></div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{%  block leftMenu %}
    {% include 'smartadmin/parts/leftMenu.html.twig' %}
{% endblock %}

{% block header %}
    {% include 'smartadmin/parts/header.html.twig' %}
{% endblock %}

{% block footer %}
    {% include 'smartadmin/parts/footer.twig' %}
{%  endblock %}

{% block quickmenu %}
    {% include 'smartadmin/parts/quickmenu.twig' %}
{% endblock %}

{% block messenger %}
    {% include 'smartadmin/parts/chat.twig' %}
{% endblock %}

{% block pagesettings %}
    {% include 'smartadmin/parts/pagesettings.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}