<div class="position-relative align-content-center d-flex" style="height:66px">
        <button data-toggle="dropdown" title="" class="mx-3 hidden-xs-down my-auto btn btn-outline-primary btn-pills no-arrow dropdown-toggle px-5" aria-expanded="false" aria-haspopup="true">Publish</button>

    <a data-toggle="dropdown" title="" class="hidden-sm-up header-icon my-auto no-arrow dropdown-toggle" aria-expanded="false" aria-haspopup="true"><i class="fal fa-file-upload"></i></a>
    <div class="dropdown-menu dropdown-menu-animated dropdown-lg hidden-xs-down">
        <div class="dropdown-divider m-0"></div>
        <div style="margin-left: -100%; width: 200%">
            <div class="publishScroll" style="max-height: 240px;">
                {% for comic in comics %}

                    <div class="dropdown-multilevel dropdown-multilevel-left" style="width: 50%; margin-left: 50%;">
                        <div id="comic_{{ comic.id }}" class="dropdown-item"
                             style="
                                    height: 42px;
                                ">
                            {{ comic.title }}
                        </div>
                        <div id="comic_{{ comic.id }}_menu" class="dropdown-menu">
                            <a href="{{ path('app_komiks', {'comicid':comic.id}) }}" class="dropdown-item bg-primary-100">Open It</a>
                            <span class="dropdown-item disabled">Episodes {{ comic.comicEpisodes|length }}</span>
{#                            <a href="{{ path('add_episode', {'comicid':comic.id}) }}" class="dropdown-item">New Episode</a>#}
                            <a href="{{ path('app_project', {'id':comic.project.id}) }}" class="dropdown-item">Project Page</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="dropdown-divider m-0"></div>
        <a href="{{ path('create_comic') }}" class="dropdown-item">
            <span>New Comic</span>
        </a>
        <a href="#" class="dropdown-item" data-toggle="modal" data-target=".js-modal-settings">
            <span data-i18n="drpdwn.settings">New Article</span>
        </a>
        <a href="#" class="dropdown-item" data-action="app-fullscreen">
            <span data-i18n="drpdwn.fullscreen">New Poem/Story or a Book</span>
        </a>
        <a href="{{ path('app_projects') }}" class="dropdown-item text-center">
            <span>All Projects</span>
        </a>
    </div>






    <div class="dropdown-menu dropdown-menu-animated dropdown-lg hidden-sm-up" style="margin-left: -325%">
        <div class="dropdown-divider m-0"></div>
        <div style="margin-left: -100%; width: 200%">
            <div class="publishScroll" style="max-height: 240px;">
                {% for comic in comics %}

                    <div class="dropdown-multilevel dropdown-multilevel-left" style="width: 50%; margin-left: 50%;">
                        <div id="comic_{{ comic.id }}" class="dropdown-item"
                             style="
                                    height: 42px;
                                ">
                            {{ comic.title }}
                        </div>
                        <div id="comic_{{ comic.id }}_menu" class="dropdown-menu">
                            <a href="{{ path('add_episode', {'comicid':comic.id}) }}" class="dropdown-item">New Episode</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="dropdown-divider m-0"></div>
        <a href="#" class="dropdown-item" data-action="app-reset">
            <span data-i18n="drpdwn.reset_layout">Comic</span>
        </a>
        <a href="#" class="dropdown-item" data-toggle="modal" data-target=".js-modal-settings">
            <span data-i18n="drpdwn.settings">Article</span>
        </a>
        <a href="#" class="dropdown-item" data-action="app-fullscreen">
            <span data-i18n="drpdwn.fullscreen">New Poem/Story or a Book</span>
        </a>
        <a href="#" class="dropdown-item" data-action="app-print">
            <span data-i18n="drpdwn.print">Photo</span>
        </a>
        <a href="#" class="dropdown-item" data-action="app-print">
            <span data-i18n="drpdwn.print">Social Post</span>
        </a>
        <a href="#" class="dropdown-item" data-action="app-print">
            <span data-i18n="drpdwn.print">Blog post</span>
        </a>
    </div>
</div>