{% extends 'smartadmin/base.html.twig' %}

{% block content %}
    <style>
        #layer-window .ui-selecting { background: lightcyan; }
        #layer-window .ui-selected { background: aliceblue; color: black; }
        #layer-window div { margin-left: 16px; height: 42px}
    </style>
    <!-- BEGIN Page Content -->
    <!-- the #js-page-content id is needed for some plugins to initialize -->
    <main id="js-page-content" role="main" class="page-content">
        <!-- Your main content goes below here: -->
        <div class="row" style="margin-top: 66px; margin-right: 0; margin-left: 0;">
            <div id="shock-wrapper" class="m-auto" style="width: 800px; height: 600px; outline: 1px solid black; border-bottom: 1px black solid; z-index: 1">
                <div id="shock-wave" class="zoom" style="width: inherit; height: inherit">
                    <canvas id="canvas" width="800" height="600">

                    </canvas>
                </div>
            </div>

        </div>
            <!-- images all -->
            <div id="images-Panel" class="position-absolute clearfix d-inline-flex align-items-end" style="top: 66px; z-index: 2; margin-left: 0px">
                <div class="panel float-left mb-0 p-2 rounded-0" style="width: 300px; height: calc(100vh - 66px)">
                    <div class="row">
                        <div class="col-12">
                            <div class="btn-group mb-3 w-100">
                                <a href="#" class="btn btn-danger" style="width: 25%">RESET</a>
                                <a href="javascript:saveObject()" class="btn btn-success" style="width: 75%" >SAVE</a>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin: 0; max-height: calc(100vh - 66px - 80px); overflow-y: auto">
                        {% for img in user.UserToAObjMTM  %}
                            {% if img.Obj.type == 1 %}
                                {% if loop.index is even %}
                                    <div class="col-6 mb-2 pr-0 pl-1" >
                                        <img width="100%" class="image-drag draggable rounded" data-imagename="{{ absolute_url(asset('upload/object/image/'~img.Obj.FileName)) }}" data-usertoobjconid="{{ img.id }}" data-objid="{{ img.Obj.id }}" src="{{ asset('upload/object/image/thumb/'~img.Obj.FileName) }}">
                                    </div>
                                        {% else %}
                                    <div class="col-6 mb-2 pl-0 pr-1" >
                                        <img width="100%" class="image-drag draggable rounded" data-imagename="{{ absolute_url(asset('upload/object/image/'~img.Obj.FileName)) }}" data-usertoobjconid="{{ img.id }}" data-objid="{{ img.Obj.id }}" src="{{ asset('upload/object/image/thumb/'~img.Obj.FileName) }}">
                                    </div>

                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="row" style="bottom: 0; margin:0">
                        <div class="col-12 p-0">
                            <button class="btn-success btn btn-sm w-100" data-toggle="modal" data-target="#upload-objects">Upload Objects</button>
                        </div>
{#                        <div class="col-12 pt-2 px-0" style="border-top: 1px #333 solid">#}
{#                            <i class="far fa-search-plus" onclick="zoom('in')" style="z-index: 4"></i>#}
{#                            <i class="far fa-search-minus" onclick="zoom('out')" style="z-index:4"></i>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
            <!-- images all end -->


            <!-- layers -->

            <div id="layers-Panel" class="position-absolute" style="right: 0; top: 66px; z-index: 1">
                <div class="panel mb-0 p-2 rounded-0" style="min-width: 300px; min-height: 56px">
                    <div class="row" style="margin-right: 0">
                        <div class="col-12 p-0">
                            <div id="layer-window">

                            </div>
                        </div>
                    </div>
                </div>
                <div id="properties" class="panel rounded-right-0 rounded-top-left-0" style="min-height: 200px">
                    <div class="row my-2" style="margin: 0">
                        <div class="col-6 pt-2">
                            Scene height:
                        </div>
                        <div class="col-6">
                            <input type="number" id="formSceneHeight" name="sceneHeight" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-2" style="margin: 0">
                        <div class="col-6">
                            <label>Width</label>
                            <input type="number" id="formWidth" name="width" class="form-control">
                        </div>
                        <div class="col-6">
                            <label>Height</label>
                            <input type="number" id="formHeight" class="form-control" name="height">
                        </div>
                    </div>
                    <div class="row mb-2" style="margin: 0">
                        <div class="col-6">
                            <label>Pox x</label>
                            <input type="number" id="formPosX" class="form-control" name="posx">
                        </div>
                        <div class="col-6">
                            <label>Pos y</label>
                            <input type="number" id="formPosY" class="form-control" name="posy">
                        </div>
                    </div>
                    <div class="row mb-3" style="margin: 0">
                        <div class="col-6">
                            <label>Angle</label>
                            <input type="number" id="formRot" class="form-control" name="rotation">
                        </div>
                        <div class="col-6">
                            <label>Opacity</label>
                            <input type="number" id="formOpacity" class="form-control" step="0.01" name="opacity">
                        </div>
                    </div>
                    <div class="row" style="margin: 0">
                        <div class="col-12">
                            <a href="javascript:openWindow()" class="btn btn-outline-default">Checkout paralaksa</a>
                        </div>
                    </div>
                    <div class="row my-2" style="margin: 0">
                        <div class="col-6 pt-2">
                            Parallax speed:
                        </div>
                        <div class="col-6">
                            <input type="number" id="formParallaxSpeed" name="parallaxSpeed" class="form-control" step="0.1">
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of layers -->


        <!-- upload object images -->
        <div class="modal fade" id="upload-objects" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="panel-container mb-2">
                            <label>Upload episode files:</label>
                            <form action="{{ path('upload_Obj') }}" id="uploadComic" class="dropzone needsclick upload" style="min-height: 7rem;" >
                                <div class="dz-message needsclick">
                                    <i class="fal fa-cloud-upload text-muted mb-3"></i> <br>
                                    <span class="text-uppercase">Drop files here or click to upload.</span>
                                    <br>
                                </div>
{#                                <input type="hidden" name="_token" value="{{ csrf_token('image_upload') }}">#}
{#                                <input type="hidden" name="cid" value="{{ project.ComicEpisode.Comic.id }}">#}
{#                                <input type="hidden" name="eid" value="{{ project.ComicEpisode.id }}">#}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of upload objects -->

        <!-- lookout -->
        <div id="modal-paralaksa-lookout-target" class="position-fixed justify-content-center" style="display: none; top: 0; left: 0; background-color: rgba(0,0,0,0.8); z-index: 6; width: 100%; min-height: 100vh">
            <div id="paralaksa-lookout-target" class="overflow-hidden position-relative" style="margin-top: 66px; background: white; border: 1px black solid; width: 800px; height: 500px; overflow: hidden">
            </div>
        </div>
    </main>
    <!-- this overlay is activated only when mobile menu is triggered -->
    <div class="page-content-overlay" data-action="toggle" data-class="mobile-nav-on"></div> <!-- END Page Content -->
{% endblock %}

{% block stylesheets %}
    <link id="vendorsbundle" rel="stylesheet" media="screen, print" href="{{ asset('smartadmin/css/vendors.bundle.css') }}">
    <link id="myskin" rel="stylesheet" media="screen, print" href="{{ asset('smartadmin/css/skins/skin-master.css') }}">
    <link id="stingcss" rel="stylesheet" media="screen, print" href="{{ asset('smartadmin/css/stingcms.css') }}">
    <link id="mytheme" rel="stylesheet" media="screen, print" href="{{ asset(theme) }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" media="screen, print" href="{{ asset('smartadmin/css/fa-solid.css') }}">
    <link rel="stylesheet" media="screen, print" href="{{ asset('smartadmin/css/omniViewer.app.bundle.css') }}">
    <link rel="stylesheet" media="screen, print" href="{{ asset('smartadmin/css/formplugins/dropzone/dropzone.css') }}">
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css"/>
{% endblock %}

{#
Variables:
- navFooter (if enabled and Not false shows Navigation Footer (chat logs, support chat and make a call)
#}
{%  block leftMenu %}
{#    {% include 'smartadmin/parts/leftMenu.html.twig' %}#}
{% endblock %}

{% block header %}
    {% include 'smartadmin/parts/comicHeader.html.twig' %}
{% endblock %}

{% block footer %}
{#    {% include 'smartadmin/parts/footer.twig' %}#}
{%  endblock %}

{% block quickmenu %}
{% endblock %}

{% block messenger %}
{#    {% include 'smartadmin/parts/chat.twig' %}#}
{% endblock %}

{% block pagesettings %}
    {% include 'smartadmin/parts/pagesettings.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        initApp.pushSettings("layout-composed", true);
        layouts.hideNavigation('off')
        layouts.fixedHeader('on')
    </script>
    <script src="{{ asset('smartadmin/js/Omni/fabric.js') }}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/ScrollToPlugin.min.js"></script>
    <script src="{{ asset('smartadmin/js/scroll/scrollSpeed.js') }}"></script>
    <script src="{{ asset('smartadmin/js/Omni/OmniSceneEditor.js') }}"></script>
    <script src="{{ asset('smartadmin/js/formplugins/dropzone/dropzone.js') }}"></script>
    <script>
        let canvas = new fabric.Canvas('canvas', { preserveObjectStacking: true })
        $('.dropzone').dropzone({
            acceptedFiles: "image/jpg,image/jpeg,image/gif,image/png,audio/mpeg",
            paramName: "page", // The name that will be used to transfer the file
            maxFilesize: 5, // MB
            maxFiles: 100,// zobaczymy, trzba zrobic jeszcze albumy
            init: function() {
                9
                this.on("maxfilesexceeded", function(file) {
                    //alert("You are not allowed to chose more than 10 files at once!");
                    this.removeFile(file);

                });

            },
            success: function( file, response ) {
                console.log(response);
                if(response.type=='image'){
                    file.previewElement.querySelector("img").src = response.srcThumb;
                    file.previewElement.querySelector("img").alt = response.imagefilename;
                    $('.sort-images').prepend('' +
                        '<div class="col-6 mb-2" data-image="">'+
                            '<img width="100%" class="image-drag" src="'+response.src+'">'+
                        '</div>')
                }
                file.propername = response.imagefilename;
                $('.image-drag').draggable({
                    connectToSortable: "#shock-wave",
                    helper: "clone",
                    drop: function( event, ui ) {
                        console.log($(this))
                    }
                }).disableSelection()
            },
            addRemoveLinks: true,
            removedfile: function(file) {
                let fileName = file.propername;

                {#$.ajax({#}
                {#    type: 'POST',#}
                {#    url: '/deleteImage/'+fileName+'/{{ project.ComicEpisode.id }}',#}
                {#    data: {'_token': '{{ csrf_token('delete_image_episode') }}'},#}
                {#    sucess: function(data){#}
                {#        console.log('success: ' + data);#}
                {#    }#}
                {#});#}

                var _ref;
                return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
            }
        });

        var windowHeight = 600;


        function openWindow(){
            $('#paralaksa-lookout-target').html('')
            $('#modal-paralaksa-lookout-target').css('display', 'flex')
            $('#paralaksa-lookout-target').css('height', windowHeight)
            $('#modal-paralaksa-lookout-target').on('click', function () {
                $('#modal-paralaksa-lookout-target').css('display', 'none')
            })
            var finishedImage = '';

            var it0=0;
            layers.forEach(function (elm) {
                console.log(elm)
                $('#paralaksa-lookout-target').append('<img id="imgLookout-'+it0+'" class="imgLookout" data-speed="'+elm.prlxSpd+'" data-id="'+elm.id+'" src="'+elm.url+'" style="width: '+elm.width+'px; height: '+elm.height+'px; top: '+elm.posy+'px; left: '+elm.posx+'px; position: absolute; opacity: '+elm.opacity+'">')
                it0++
                left[elm.id] = elm.posx
            })
        }

        function getWidth() {
            return Math.max(
                document.body.scrollWidth,
                document.documentElement.scrollWidth,
                document.body.offsetWidth,
                document.documentElement.offsetWidth,
                document.documentElement.clientWidth
            );
        }
        var objLeft = $("#paralaksa-lookout-target").offset().left;
        let currentMousePos = [];
        var left = [];


        $("#modal-paralaksa-lookout-target").mousemove(function(e) {
                currentMousePos.x = e.pageX;
                currentMousePos.y = e.pageY;

                objLeft = $("#paralaksa-lookout-target").offset().left;
                var percent = (getWidth() - (objLeft + $("#paralaksa-lookout-target").width() / 2)) / 100

                var objCenterX = objLeft + $("#paralaksa-lookout-target").width() / 2;




            if (currentMousePos.x - objCenterX > 0){
                $('.imgLookout').each(function(i, layer) {
                    var id = layer.id
                    $('#'+id).css('left', left[layer.getAttribute('data-id')] + ((1 * layer.getAttribute('data-speed') * Math.round((currentMousePos.x - objCenterX) / percent)) / 2))
                })
            }else if (currentMousePos.x - objCenterX < 0){
                $('.imgLookout').each(function(i, layer) {
                    var id = layer.id
                    $('#'+id).css('left', left[layer.getAttribute('data-id')] + ((1 * layer.getAttribute('data-speed') * Math.round((currentMousePos.x - objCenterX) / percent)) / 2))
                })
            }

            // for(var i=layers.length; i>0;i--){
            //     $('#imgLookout-'+(i-1)).css('left', layerscurrentMousePos.x - objCenterX)
            // }

        })

        let sendLayers = {}
        function saveObject(){

            console.log(layers)
            var it0 = 0;
            layers.forEach(function (elm){
            sendLayers[it0] =
                {
                    'width': elm.width,
                    'height': elm.height,
                    'posx': elm.posx,
                    'posy': elm.posy,
                    'rot': elm.rot,
                    'opacity': elm.opacity,
                    'name': elm.name,
                    'speed': elm.prlxSpd,
                    'id': elm.objid
                }
                it0++
            })
            console.log(sendLayers)
            $.ajax('{{ path('OmniEditor_save_Object') }}', {
                method: "POST",
                data: {
                    'layers': sendLayers,
                    'height': windowHeight,
                    '_token': '{{ csrf_token('saveObject') }}'
                },
                success: function (data) {

                }
            });
        }
    </script>
{% endblock %}