{% extends 'smartadmin/base.html.twig' %}

{% block content %}
    <!-- the #js-page-content id is needed for some plugins to initialize -->
    <main id="js-page-content" role="main" class="page-content">
        <ol class="breadcrumb page-breadcrumb">
            <li class="breadcrumb-item"><a href="/">{{ APP_NAME }}</a></li>
            <li class="breadcrumb-item active"><a href="{{ path('app_gallery', {'profile':profile.Username }) }}">Gallery</a></li>
            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
        </ol>
        <div class="subheader">
            <h1 class="subheader-title">
                <i class='subheader-icon fal fa-globe'></i>  {{ profile.Username }}'s gallery
            </h1>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div id="panel-1" class="panel">
                    <div class="panel-hdr">
                        <h2>
                            <a href="{{ path('app_gallery', {'profile':  profile.Username }) }}">Gallery::</a> {{ album.name }}
                        </h2>
                        <div class="panel-toolbar">
                            {% if username == profile.Username %}
                                <div class="btn-group">
                                    <a class="btn btn-light" data-toggle="collapse" href="#upload" role="button" aria-expanded="false" aria-controls="collapseExample"><span class="text-dark">U P L O A D - F I L E S</span></a>
                                </div>
                            {% endif %}
                            <button class="btn p-0 m-0 ml-3" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"><i class="ni ni-frame fa-2x"></i></button>
                        </div>
                    </div>
                    <div class="panel-container">
                        <div class="panel-content">
                            {% if username == profile.Username %}
                                <div class="panel-container collapse mb-2" id="upload">
                                    <form action="{{ path('app_api_gallery_upload') }}" id="gallery" class="dropzone needsclick upload" style="min-height: 7rem;" enctype=multipart/form-data method="post">
                                        <div class="dz-message needsclick">
                                            <i class="fal fa-cloud-upload text-muted mb-3"></i> <br>
                                            <span class="text-uppercase">Drop files here or click to upload.</span>
                                            <br>
                                        </div>
                                        <input type="hidden" name="album" value="{{ album.id }}">
                                    </form>
                                </div>
                            {% endif %}
                            <div id="album-lightgallery">
                                {% for photo in zdjecia %}
                                    <a class="" href="{{ asset('upload/gallery/'~profile.Username~'/'~photo.FileName) }}"  data-sub-html="{{ photo.Description }}">
                                        <img class="img-responsive" style="border-radius: 5px" src="{{ asset('upload/gallery/'~profile.Username~'/'~photo.FileName)|imagine_filter('gallery_thumb') }}" alt="{{ photo.title }}">
                                    </a>
                                {% endfor %}
                            </div>
                            <style>
                                .pagination {
                                    display: inline-flex;
                                }
                            </style>
                            <div class="col-12 justify-content-center">
                                <center>{{ knp_pagination_render(zdjecia) }}</center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
    </main>
    <!-- this overlay is activated only when mobile menu is triggered -->
    <div class="page-content-overlay" data-action="toggle" data-class="mobile-nav-on"></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" media="screen, print" href="{{ asset('smartadmin/css/miscellaneous/lightgallery/lightgallery.bundle.css') }}">
    <link rel="stylesheet" media="screen, print" href="{{ asset('smartadmin/css/formplugins/dropzone/dropzone.css') }}">
{% endblock %}

{#
Variables:
- navFooter (if enabled and Not false shows Navigation Footer (chat logs, support chat and make a call)
#}
{%  block leftMenu %}
    {% include 'smartadmin/parts/leftMenu.html.twig' %}
{% endblock %}

{% block header %}
    {% include 'smartadmin/parts/header.html.twig' %}
{% endblock %}

{% block footer %}
    {% include 'smartadmin/parts/footer.twig' %}
{%  endblock %}

{% block quickmenu %}
    {% include 'smartadmin/parts/quickmenu.twig' %}
{% endblock %}

{% block messenger %}
    {% include 'smartadmin/parts/chat.twig' %}
{% endblock %}

{% block pagesettings %}
    {% include 'smartadmin/parts/pagesettings.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('smartadmin/js/miscellaneous/lightgallery/lightgallery.bundle.js') }}"></script>
    <script>
        $(document).ready(function()
        {
            var $initScope = $('#album-lightgallery');
            if ($initScope.length)
            {
                $initScope.justifiedGallery(
                    {
                        border: -1,
                        rowHeight: 150,
                        margins: 8,
                        waitThumbnailsLoad: true,
                        randomize: false,
                    }).on('jg.complete', function()
                {
                    $initScope.lightGallery(
                        {
                            thumbnail: true,
                            animateThumb: true,
                            showThumbByDefault: true,
                        });
                });
            };
            $initScope.on('onAfterOpen.lg', function(event)
            {
                $('body').addClass("overflow-hidden");
            });
            $initScope.on('onCloseAfter.lg', function(event)
            {
                $('body').removeClass("overflow-hidden");
            });
        });

    </script>
<script src="{{ asset('smartadmin/js/formplugins/dropzone/dropzone.js') }}"></script>
<script type="text/javascript">
    initApp.pushSettings("layout-composed", false);

    Dropzone.autoDiscover = false;
    $('.dropzone').dropzone({
        acceptedFiles: "image/*",
        paramName: "image", // The name that will be used to transfer the file
        maxFilesize: 5, // MB
        maxFiles: 10,// zobaczymy, trzba zrobic jeszcze albumy
        init: function() {

            this.on("maxfilesexceeded", function(file) {
                //alert("You are not allowed to chose more than 10 files at once!");
                this.removeFile(file);

            });

        }
    });
</script>


{% endblock %}
