{% extends 'smartadmin/base.html.twig' %}

{% block content %}
    <!-- the #js-page-content id is needed for some plugins to initialize -->
    <main id="js-page-content" role="main" class="page-content">
{#    <ol class="breadcrumb page-breadcrumb">#}
{#        <li class="breadcrumb-item"><a href="/">{{ APP_NAME }}</a></li>#}
{#        <li class="breadcrumb-item active"><a href="{{ path('app_gallery', {'profile':profile.username}) }}">Gallery</a></li>#}
{#        <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>#}
{#    </ol>#}
{#    <div class="subheader">#}
{#        <h1 class="subheader-title">#}
{#            <i class='subheader-icon fal fa-globe'></i>  {{ profile.username }}'s gallery#}
{#        </h1>#}
{#    </div>#}
        {% include 'smartadmin/profile/parts/header.twig' %}

    <div class="container">
        <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        Gallery
                    </h2>
                    <div class="panel-toolbar">
                        {% if username == profile.username %}
                        <div class="btn-group">
                        <a class="btn btn-outline-light" data-toggle="collapse" href="#upload" role="button" aria-expanded="false" aria-controls="collapseExample"><span class="text-dark">U P L O A D - F I L E S</span></a>
                        <button type="button" class="btn btn bg-primary-900" data-toggle="modal" data-target=".add-album">Make Album</button>
                        </div>
                        {% endif %}
                        <button class="btn p-0 m-0 ml-3 waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"><i class="ni ni-frame fa-2x"></i></button>
                    </div>
                </div>
                <div class="panel-container">
                    <div class="panel-content">
                        {% if username == profile.username %}
                        <div class="panel-container collapse mb-2" id="upload">
                            <form action="{{ path('app_api_gallery_upload') }}" id="gallery" class="dropzone needsclick upload" style="min-height: 7rem;" >
                                <div class="dz-message needsclick">
                                    <i class="fal fa-cloud-upload text-muted mb-3"></i> <br>
                                    <span class="text-uppercase">Drop files here or click to upload.</span>
                                    <br>
                                </div>
                                <input type="hidden" name="deletehash" value="deletehash">
                            </form>
                            <div id="removed" class="text-center" style="width:100%"></div>
                        </div>
                        {% endif %}
                        {% if albums is not null %}
                        <div class="col-12" style="margin-top: 0px;">
                            <div class="card-deck justify-content-start">
                                {% for album in albums %}
                                    <a href="{{ path('app_gallery_album', {'profile':profile.username, 'id':album.id}) }}">
                                        <div class="" style="width: 200px">
                                            <div class="card border img-rounded">
                                                <div class="w-100 d-flex p-0 align-items-end position-relative" style="height:80px; border: black 0px solid;">
                                                    {% if album.cover is null %}
                                                    {% set url = 'default/cover-'~random(1, 6)~'-lg.png' %}
                                                    {% else %}
                                                    {% set url = "upload/gallery/"~profile.Username~"/"~album.cover %}
                                                    {% endif %}
                                                    <!--
                                                    <img src="url" class="card-img-top" alt="album['title']"> -->
                                                    <div class="card-img-top" alt="{{ album.name }}" style="display: block; height: 80px; background: url('{{ asset(url) }}') no-repeat center center/cover;"> </div>
                                                    <div class="align-bottom text-white d-flex px-3 position-absolute" style="height: 26px; border: black 0px solid; background-color: rgba(0,0,0, 0.5); width: inherit"  data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ album.name }}"><span class="card-title my-auto text-truncate">{{ album.name }}</span></div>
                                                  </div>

                                                <div class="card-body">
                                                    <p class="card-text text-left p-0 m-0">{% if album.description is not null %}{{ album.description }}{% else %}<span class="text-center m-0 p-0"> . &nbsp; . &nbsp; . </span>{% endif %}</p>
                                        {% if username == profile.username %}</a>
                                <small style="cursor: pointer" class="p-0 m-0 mt-2 float-left" data-toggle="modal" data-target=".edit-album-{{ album.id }}">Edit</small>
                                <small style="cursor: pointer" class="p-0 m-0 mt-2 float-right" data-toggle="modal" data-target="#delete-album-{{ album.id }}">Delete</small>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                                    <!-- EDIT MODAL -->
                    <div class="modal modal-alert fade" id="delete-album-{{ album.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Delete album - {{ album.name }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"><i class="fal fa-times"></i></span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    All of your photos within this album will be deleted, are you sure?
                                </div>
                                <div class="modal-footer">
                                    <form action="deleteAlbum" method="post">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button class="btn btn-primary">Delete!</button>
                                    <input type="hidden" name="id" value="{{ album.id }}">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade edit-album-{{ album.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-transparent" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title text-white">
                                        Make Album
                                        <small class="m-0 text-white opacity-70">
                                        </small>
                                    </h4>
                                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"><i class="fal fa-times"></i></span>
                                    </button>
                                </div>
                                <form action="http://{ROOT_APP_URL}/updateAlbum" method="post">
                                    <div class="modal-body">
                                        <div class="">
                                            <label class="text-white-50">Title</label><br>
                                            <input type="text" name="title" class="form-control" value="{{ album.name }}">
                                            <br><br>
                                            <label class="text-white-50">Description *</label><br>
                                            <input type="text" name="desc" class="form-control" value="{{ album.description }}">
                                            <input type="hidden" name="id" value="{{ album.id }}">
                                            <small class="m-0 text-white opacity-70 mb-0">
                                                * - optional
                                            </small><br><br>
                                            <label class="text-white-50">Set Background</label>
                                            <select name="imgid" class="form-control">
                                                {% if album.galleryphotos is not null %}
                                                {% for photo in album.galleryphotos %}
                                                    <option value="NULL">CHOSE BACKGROUND</option>
                                                {% if photo.id == album.cover %}
                                                    <option value="{{ photo.id }}" selected>{{ photo.filename }}</option>
                                                {% else %}
                                                    <option value="{{ photo.id }}">{{ photo.filename }}</option>
                                                {% endif %}
                                                {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button class="btn btn-primary">Save Album</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                                 {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        <div id="js-lightgallery">
                            {% for photo in gallery %}
                                <a class="" href="{{ asset('upload/gallery/'~profile.Username~'/'~photo.FileName) }}"  data-sub-html="{{ photo.Description }}">
                                    <img class="img-responsive" style="border-radius: 5px" src="{{ asset('upload/gallery/'~profile.Username~'/'~photo.FileName)|imagine_filter('gallery_thumb') }}" alt="{{ photo.title }}">
                                </a>
                            {% endfor %}
                        </div>
            <style>
                .pagination {
                    display: inline-flex;
                }
            </style>
                        <div class="col-12">
                            <center>{{ knp_pagination_render(gallery) }}</center>
                        </div>
                    </div>
                </div>
    </div>
            </div>
        </div>
    </div>
</main>
<div class="modal fade add-album" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-transparent" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-white">
                    Make Album
                    <small class="m-0 text-white opacity-70">
                    </small>
                </h4>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <form action="{{ path('gallery_make_album') }}" method="post">
            <div class="modal-body">
                <div class="">
                    <label class="text-white-50">Title</label><br>
                    <input type="text" name="title" class="form-control">
                    <br><br>
                    <label class="text-white-50">Description *</label><br>
                    <input type="text" name="desc" class="form-control">

                </div>
                <small class="m-0 text-white opacity-70 mb-0">
                    * - optional
                </small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-primary">Make Album</button>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- this overlay is activated only when mobile menu is triggered -->
<div class="page-content-overlay" data-action="toggle" data-class="mobile-nav-on"></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('smartadmin/css/miscellaneous/justifiedGallery/justifiedGallery.min.css') }}" />
    <link rel="stylesheet" media="screen, print" href="{{ asset('smartadmin/css/fa-solid.css') }}">
    <link rel="stylesheet" media="screen, print" href="{{ asset('smartadmin/css/miscellaneous/lightgallery/lightgallery.bundle.css') }}">
    <link rel="stylesheet" media="screen, print" href="{{ asset('smartadmin/css/formplugins/dropzone/dropzone.css') }}">
{% endblock %}

{#
Variables:
- navFooter (if enabled and Not false shows Navigation Footer (chat logs, support chat and make a call)
#}
{%  block leftMenu %}
    {% include 'smartadmin/parts/leftMenu.html.twig' %}
{% endblock %}

{% block header %}
    {% include 'smartadmin/parts/header.html.twig' %}
{% endblock %}

{% block footer %}
    {% include 'smartadmin/parts/footer.twig' %}
{%  endblock %}

{% block quickmenu %}
    {% include 'smartadmin/parts/quickmenu.twig' %}
{% endblock %}

{% block messenger %}
    {% include 'smartadmin/parts/chat.twig' %}
{% endblock %}

{% block pagesettings %}
    {% include 'smartadmin/parts/pagesettings.twig' %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('smartadmin/js/miscellaneous/lightgallery/lightgallery.bundle.js') }}"></script>
    <script>
        $(document).ready(function()
        {
            var $initScope = $('#js-lightgallery');
            if ($initScope.length)
            {
                $initScope.justifiedGallery(
                    {
                        border: -1,
                        rowHeight: 150,
                        margins: 8,
                        waitThumbnailsLoad: true,
                        randomize: false,
                    }).on('jg.complete', function()
                {
                    $initScope.lightGallery(
                        {
                            thumbnail: true,
                            animateThumb: true,
                            showThumbByDefault: true,
                        });
                });
            };
            $initScope.on('onAfterOpen.lg', function(event)
            {
                $('body').addClass("overflow-hidden");
            });
            $initScope.on('onCloseAfter.lg', function(event)
            {
                $('body').removeClass("overflow-hidden");
            });
        });

    </script>
    <script src="{{ asset('smartadmin/js/formplugins/dropzone/dropzone.js') }}"></script>
    <script type="text/javascript">
        initApp.pushSettings("layout-composed", false);

        Dropzone.autoDiscover = false;
        $('.dropzone').dropzone({
            acceptedFiles: "image/*",
            paramName: "image", // The name that will be used to transfer the file
            maxFilesize: 5, // MB
            maxFiles: 10,// zobaczymy, trzba zrobic jeszcze albumy
            init: function() {

                this.on("maxfilesexceeded", function(file) {
                    //alert("You are not allowed to chose more than 10 files at once!");
                    this.removeFile(file);

                });

            }
        });
    </script>

    {% include 'smartadmin/profile/parts/js/header.js.include.twig' %}
{% endblock %}

