<div class="d-flex flex-row rounded mt-2 mr-2 pt-2 px-0 pb-0" style="border: 1px black solid; width: 380px; z-index: 2000; background: #707070">
    <div class="d-flex flex-row rounded d-inline-block pt-1 align-middle bg-light w-100 pb-2 px-2" style="border-top: 0 black solid;">
        <div class="d-inline-block align-middle status status-sm status-success mr-3">
            <span class="ml-1 mt-1 profile-image profile-image-md rounded d-block mt-1" style="background-image: url('{{ asset('upload/avatars/'~user.Username~'/'~user.AvatarFileName)|imagine_filter('my_thumb') }}'); background-size: cover;"></span>
        </div>
        <div class="mb-0 flex-1 text-dark mr-1 ">
            <div class="d-flex">
                <a href="javascript:void(0);" class="text-dark fw-500">
                    {{ user.Username }}
                </a><span class="text-muted fs-xs opacity-70 ml-auto">
                                    {{ CreatedAt|ago }}
                                                        </span>
            </div>
            <p class="mb-0">
                {{ content }}
            </p>
            <div>
                <a href="javascript: addHeart('{{ commentId }}');" class="d-inline-flex align-items-center text-dark small">
                    <i class="fas fa-heart fs-xs mr-1 text-danger"></i> <span>0 Likes</span>
                </a>

                <a href="#answer_{{ commentId }}" data-toggle="collapse" aria-expanded="false" aria-controls="answer_{{ commentId }} "
                        {# onclick="changeCommgentCss(#comment_{{ post.Id }}_{{ loop.index }}, #comment_{{ post.Id }}_{{ loop.index1 }})" #}
                   class="float-right">
                                                    <span data-toggle="tooltip" data-original-title="Create new Conversation" data-placement="top" class="small">
                                                          Answer to {{ user.Username }}  <i class="far fa-caret-down"></i>
                                                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
{#<div class="d-flex flex-row w-100 py-4">r#}

{#                          <div class="d-inline-block align-middle status status-sm status-success mr-3">#}
{#                                  <span class="profile-image profile-image-md rounded-circle d-block mt-1" style="background-image:url('{{ asset('upload/avatars/'~user.Username~'/'~user.AvatarFileName)|imagine_filter('my_thumb') }}'); background-size: cover;"></span>#}
{#                              </div>#}
{#                          <div class="mb-0 flex-1 text-dark">#}
{#                                  <div class="d-flex">#}
{#                                          <a href="javascript:void(0);" class="text-dark fw-500">#}
{#                                              {% if user.VisibleName == 1 %}{{ user.Username }}#}
{#                                              {% elseif user.VisibleName == 2 %}{{ user.FirstName }} {{ user.LastName }}#}
{#                                              {% elseif user.VisibleName == 3 %}{{ user.FirstName }} "{{ user.Username }}" {{ user.LastName }} {% endif %}#}
{#                                          </a>#}
{#                                      <span class="text-muted fs-xs opacity-70 ml-auto">#}
{#                                            {{ CreatedAt|ago }}#}
{#                                      </span>#}
{#                                      </div>#}
{#                                  <p class="mb-0">#}
{#                                      {{ content }}#}
{#                                  </p>#}
{#                                  <div>#}
{#                                      <a href="javascript: addHeart('{{ commentId  }}');" class="d-inline-flex align-items-center text-dark">#}
{#                                          <i class="fas fa-heart fs-xs mr-1 text-danger"></i> <span>0 Likes</span>#}
{#                                      </a>#}
{#                                      <a href="#answer_{{ commentId }}" data-toggle="collapse" aria-expanded="false" aria-controls="answer_{{ commentId }}'"> Answer</a>#}
{#                                  </div>#}
{#                                  <div id="conversation_target" ></div>#}
{#                              </div>#}
{#                      </div>#}