<div class="slide-down" style="display: none">
    {% for comment in Comments %}
        <div class="d-flex flex-row w-100 pt-4">
            <div class="d-inline-block align-middle status status-sm status-success mr-3">
                <span class="profile-image profile-image-md {# rounded-circle #} d-block mt-1"
                      style="border-radius: 5px; background-image:url('{{ comment.AuthorAvatarFileUrl }}'); background-size: cover;"></span>
            </div>
            <div class="mb-0 flex-1 text-dark">
                <div class="d-flex">
                    <a href="javascript:void(0);" class="text-dark fw-500">
                        {{ comment.AuthorFirstName }} "{{ comment.AuthorUsername }}" {{ comment.AuthorLastName }}
                    </a>
                    <span class="text-muted fs-xs opacity-70 ml-auto">
                          {{ comment.createdAt|ago }}
                    </span>
                </div>
                <p class="mb-0">
                    {{ comment.Content }}
                </p>
                <div class="small">
                    <a href="javascript: addHeart('{{ comment.Id }}');"
                       class="d-inline-flex align-items-center float-right text-dark">
                        <i class="fas fa-heart fs-xs mr-1 text-danger"></i> <span>0 Likes</span>
                    </a>
                    <a href="#answer_{{ comment.Id }}" data-toggle="collapse" aria-expanded="false" aria-controls="answer_{{ comment.Id }}" class="float-left">
                        <span data-toggle="tooltip" data-original-title="Create new Conversation" data-placement="top" onclick="scroolTo('answer_{{ comment.Id }}')">
                            <i class="far fa-caret-down"></i> Answer
                        </span>
                    </a>
                </div>
                <div id="conversation_target_{{ comment.Id }}_before"></div>
                {% for insideComment in comment.CommentConversation %}
                    <script>
                        conversationCommentContent['{{ insideComment.Id }}'] = '{{ insideComment.Content|replace({"'": "&apos;"}) }}'
                        conversationCommentAuthorFirstName['{{ insideComment.Id }}'] = '{{ insideComment.AuthorFirstName }}'
                        conversationCommentAuthorLastName['{{ insideComment.Id }}'] = '{{ insideComment.AuthorLastName }}'
                        conversationCommentAuthorUsername['{{ insideComment.Id }}'] = '{{ insideComment.AuthorUsername }}'
                        conversationCommentAuthorVisibleName['{{ insideComment.Id }}'] = '{{ insideComment.VisibleName }}'
                        conversationCommentCreatedAt['{{ insideComment.Id }}'] = '{{ insideComment.createdAt|ago }}'
                        conversationCommentAvatarUrl['{{ insideComment.Id }}'] = '{{ insideComment.AuthorAvatarFileUrl }}'
                    </script>
                <div class="pl-0 d-flex flex-row w-100 pb-0 pt-4">
                    <div class="d-inline-block align-middle status status-sm status-success mr-3">
                        <span class="profile-image profile-image-md {# rounded-circle #} d-block mt-1"
                              style="border-radius: 5px; background-image:url('{{ insideComment.AuthorAvatarFileUrl }}'); background-size: cover;"></span>
                    </div>
                    <div class="mb-0 flex-1 text-dark">
                        <div class="d-flex">
                            <a href="javascript:void(0);" class="text-dark fw-500">
                                {{ insideComment.AuthorUsername }}
                            </a>
                            <span class="text-muted fs-xs opacity-70 ml-auto">
                                {{ insideComment.createdAt|ago }}
                            </span>
                        </div>
                        <p class="mb-0">
                            {{ insideComment.Content }}
                        </p>
                        <div class="small">
                            <a href="javascript: addHeart('{{ insideComment.Id }}');"
                               class="d-inline-flex align-items-center text-dark">
                                <i class="fas fa-heart fs-xs mr-1 text-danger"></i> <span>0 Likes</span>
                            </a>
                            <a href="#answer_{{ insideComment.Id }}" data-toggle="collapse" aria-expanded="false" aria-controls="answer_{{ insideComment.Id }}" class="float-right">
                                <span data-toggle="tooltip" data-original-title="Create new Conversation" data-placement="top">
                                    Answer <i class="far fa-caret-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <!-- right click conversation -->
                    <script>
                        letMeShowMore2['{{ insideComment.Id }}'] = true
                    </script>
                    <div id="right-arrow-{{ insideComment.Id }}" class="rounded justify-content-center cursor-pointer d-flex align-items-center" style="width: 20px; height: 60px; background: rgba(255,255,255, 0.2); border: #505050;"
                         onclick="getMoreCommentsRight('{{ insideComment.Id }}')">
                        <i class="fal fa-angle-left fa-2x" style=""></i> {# changed #}
                    </div>
                    <!-- end right click conversation -->
                </div>
                <!-- add comment -->
                <div class="py-3 w-100 collapse" id="answer_{{ insideComment.Id }}">
                    <form id="COMMENTinconversation_{{ insideComment.Id }}" method="post">
                                          <textarea id="new_comment_to_the_conversation_{{ insideComment.Id }}"
                                                    class="form-control border-0 p-0" name="Comment_content"
                                                    placeholder="add a comment..."
                                                    rows="2" style="background-color: unset"
                                                    onkeypress="submitCommentToComment('comment', '{{ insideComment.Id }}', true)"></textarea>
                        <input type="hidden" name="_token" value="{{ csrf_token('comment') }}">
                        <input type="submit"
                               style="position: absolute; left: -9999px; width: 1px; height: 1px;"
                               tabindex="-1"/>
                    </form>
                </div>
                <!-- add comment end -->
                {% endfor %}
                <div id="conversation_target_{{ comment.Id }}_after"></div>
            </div>
        </div>
        <!-- add comment -->
        <div class="py-3 w-100 collapse" id="answer_{{ comment.Id }}">
            <form id="COMMENTinconversation_{{ comment.Id }}" method="post">
                                          <textarea id="new_comment_to_the_conversation_{{ comment.Id }}"
                                                    class="form-control border-0 p-0" name="Comment_content"
                                                    placeholder="add a comment..."
                                                    rows="2" style="background-color: unset"
                                                    onkeypress="submitCommentToComment('comment', '{{ comment.Id }}', true)"></textarea>
                <input type="hidden" name="_token" value="{{ csrf_token('comment') }}">
                <input type="submit"
                       style="position: absolute; left: -9999px; width: 1px; height: 1px;"
                       tabindex="-1"/>
            </form>
        </div>
            <!-- add comment end -->
    {% endfor %}
</div>