<script>
    conversationCommentContent['{{ commentId }}'] = '{{ content|replace({"'": "&apos;"}) }}'
    conversationCommentAuthorFirstName['{{ commentId }}'] = '{{ user.FirstName }}'
    conversationCommentAuthorLastName['{{ commentId }}'] = '{{ user.LastName }}'
    conversationCommentAuthorUsername['{{ commentId }}'] = '{{ user.Username }}'
    conversationCommentAuthorVisibleName['{{ commentId }}'] = '{{ user.VisibleName }}'
    conversationCommentCreatedAt['{{ commentId }}'] = '{{ CreatedAt|ago }}'
    conversationCommentAvatarUrl['{{ commentId }}'] = '{{ asset('upload/avatars/'~user.Username~'/'~user.AvatarFileName)|imagine_filter('my_thumb') }}'
</script>
<div class="d-flex flex-row w-100 pt-4">
    <div class="d-inline-block align-middle status status-sm status-success mr-3">
          <span class="profile-image profile-image-md {# rounded-circle #} d-block mt-1" style="border-radius: 5px; background-image:url('{{ asset('upload/avatars/'~user.Username~'/'~user.AvatarFileName)|imagine_filter('my_thumb') }}'); background-size: cover;"></span>
    </div>
    <div class="mb-0 flex-1 text-dark">
          <div class="d-flex">
                  <a href="javascript:void(0);" class="text-dark fw-500">
                      {% if user.VisibleName == 1 %}{{ user.Username }}
                      {% elseif user.VisibleName == 2 %}{{ user.FirstName }} {{ user.LastName }}
                      {% elseif user.VisibleName == 3 %}{{ user.FirstName }} "{{ user.Username }}" {{ user.LastName }} {% endif %}
                  </a>
              <span class="text-muted fs-xs opacity-70 ml-auto">
                    {{ CreatedAt|ago }}
              </span>
              </div>
          <p class="mb-0">
              {{ content }}
          </p>
          <div class="d-flex justify-content-between small">
              <a href="javascript: addHeart('{{ commentId  }}');" class="d-inline-flex align-items-center text-dark">
                  <i class="fas fa-heart fs-xs mr-1 text-danger"></i> <span>0 Likes</span>
              </a>
              <a href="#answer_{{ commentId }}" data-toggle="collapse" aria-expanded="false" aria-controls="answer_{{ commentId }}'"> Answer</a>
          </div>
    </div>
    <!-- right click conversation -->
    <script>
        letMeShowMore2['{{ commentId }}'] = true
    </script>
    <div id="right-arrow-{{ commentId }}" class="rounded justify-content-center cursor-pointer d-flex align-items-center" style="width: 20px; height: 60px; background: rgba(255,255,255, 0.2); border: #505050;"
         onclick="getMoreCommentsRight('{{ commentId }}')">
        <i class="fal fa-angle-left fa-2x" style=""></i> {# changed #}
    </div>
    <!-- end right click conversation -->
</div>