<div class="d-flex flex-row w-100 py-4">r
                          <div class="d-inline-block align-middle status status-sm status-success mr-3">
                                  <span class="profile-image profile-image-md rounded-circle d-block mt-1" style="background-image:url(' + avatarUrl + '); background-size: cover;"></span>
                              </div>
                          <div class="mb-0 flex-1 text-dark">
                                  <div class="d-flex">
                                          <a href="javascript:void(0);" class="text-dark fw-500">
                                              {% if user.VisibleName == 1 %}{{ user.Username }}
                                              {% elseif user.VisibleName == 2 %}{{ user.FirstName }} {{ user.LastName }}
                                              {% elseif user.VisibleName == 3 %}{{ user.FirstName }} "{{ user.Username }}" {{ user.LastName }} {% endif %}
                                          </a>
                                      <span class="text-muted fs-xs opacity-70 ml-auto">
                                            {{ CreatedAt|ago }}
                                      </span>
                                      </div>
                                  <p class="mb-0">
                                      {{ content }}
                                  </p>
                                  <div>
                                      <a href="javascript: addHeart('{{ commentId  }}');" class="d-inline-flex align-items-center text-dark">
                                          <i class="fas fa-heart fs-xs mr-1 text-danger"></i> <span>0 Likes</span>
                                      </a>
                                      <a href="#answer_{{ commentId }}" data-toggle="collapse" aria-expanded="false" aria-controls="answer_{{ commentId }}'"> Answer</a>
                                  </div>
                                  <div id="conversation_target" ></div>
                              </div>
                      </div>