<div class="tab-pane fade{% if tab == 'profile' %} show active{% endif %}" id="profile" role="tab_panel">
{#    <div class="col-lg-12 col-xl-6 order-lg-3 order-xl-2">#}
        <div class="card composed-top NewSocialPostPanel mb-g">
            <div class="card-body pl-0 pt-0 pr-0 pb-0 rounded" id="wallpaper" style="background-image: url('{{ asset('upload/23751.jpg') }}'); background-size: 100%">
                <div class="d-flex flex-column">
                    <form id="NewSocialPostForm" action="{{ path('app_sendNewPost') }}" method="POST" enctype="multipart/form-data">
                        <div class="border-0 flex-1 position-relative shadow-top pt-0">
                            <div class="pt-4 pb-0 {# pb-1 #} pr-0 pl-0 rounded-0 position-relative" tabindex="-1">
                                <div id="presenteWindow" class="d-flex flex-column position-relative w-100 p-0 m-0">
                                    <div class="d-flex flex-row pb-3 pt-0  border-top-0 border-left-0 border-right-0 pl-4 pr-4">
                                        <div class="d-inline-block align-middle mr-3">
                                        <span class="profile-image rounded-circle d-block" style="background-image:url('{{ asset('upload/avatars/'~user.Username~'/'~user.AvatarFileName)|imagine_filter('my_thumb') }}'); background-size: cover;"></span>
                                        </div>
                                        <h5 class="mb-0 flex-1 text-black opacity-70 fw-500">
                                        {{ user.FirstName}} "{{ user.Username }}" {{ user.LastName }}
                                        <small class="m-0 l-h-n">
                                        {{ user.Occupation }}
                                        </small>
                                        </h5>
                                        <span id="clock" class="text-black fw-500 fs-xs opacity-70" {% if true %}style="font-family: \'quartz-clock\'; font-weight: normal; font-style: normal;"{% endif %}>
                                        {# CLOCK #}
                                                     </span>
                                    </div>
                                    <div class="">
                                        <textarea required="required" id="NewSocialPost" name="NewSocialPost" class="NewSocialPost text-black-50 form-control border-0 p-0 fs-xl bg-transparent" rows="4" oninput="NewSocialPostContentFun(document.getElementById(\'NewSocialPost\').value)"></textarea>
                                    </div>
                                    <button class="btn btn-outline-default ml-auto position-absolute bg-brand-gradient" style="right: 5px; bottom: 5px">Dodaj Post</button>
                                    <div id="buttonDropdownTarget hidden-xs-up"><a href="#" id="linkToggleDropdown" class="hidden-xs-up dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a></div>
{#                                <span class="profile-image rounded-circle d-block position-absolute avatar-size-50" style="background-image:url('{{ asset('upload/avatars/'~user.Username~'/'~user.AvatarFileName)|imagine_filter('my_thumb') }}'); background-size: cover;"></span>#}
{#                                    <script>#}
{#                                        NewSocialPostContent = '';#}
{#                                    </script>#}
{#                                <div class="ml-5 pl-5">#}
{#                                    <textarea name="NewSocialPost" id="NewSocialPost" class="NewSocialPost form-control border-0 p-0 fs-xl bg-transparent" style="height: 6vw" placeholder="What's on your mind {{ user.firstName }}?..." oninput="NewSocialPostContentFun(document.getElementById('NewSocialPost').value)"></textarea>#}
{#                                </div>#}
                                </div>
                                <input type="hidden" name="wallpaper" value="" id="wallpaperform">
                                <input type="hidden" name="wallpaperExt" value="" id="wallpaperformExt">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token('newpost') }}">
                            </div>
                        </div>
                        <button class="btn dropdown-item hidden-xs-up" id="wallpaperLink" data-toggle="modal" data-target=".upload-wallpaper" type="button"></button>

                        {#                        <div class="height-8 d-flex flex-row align-items-center flex-wrap flex-shrink-0">#}
{#                            <div class="btn-group dropdown">#}
{#                            <button type="button" class="btn btn-icon dropdown-toggle fs-xl width-1 mr-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                                                            <i class="fal fa-ellipsis-v-alt color-fusion-300"></i>#}
{#                                                        </button>#}
{#                            <div class="dropdown-menu fadeinup">#}
{#                                    <h6 class="dropdown-header">Options:</h6>#}
{#                                    <div class="frame-wrap">#}
{#                                    <button class="btn dropdown-item" data-toggle="modal" data-target=".upload-wallpaper" type="button">Place a post WALLPAPER</button>#}
{#                                    <div class="dropdown-item custom-control custom-switch ml-0"><div class="ml-4"><input type="checkbox" id="WYSIWYG" class="custom-control-input" onchange="changeWysiwygPresence()"><label for="WYSIWYG" class="custom-control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Preview</label></div></div>#}
{#                                    </div>#}
{#                                    </div>#}
{#                            </div>#}
{#                            #}
{#                            <a href="javascript:void(0);" class="btn btn-icon fs-xl mr-1" data-toggle="tooltip" data-original-title="Attach files" data-placement="top">#}
{#                                <i class="fal fa-paperclip color-fusion-300"></i>#}
{#                            </a>#}
{#                            <a href="javascript:void(0);" class="btn btn-icon fs-xl mr-1" data-toggle="tooltip" data-original-title="Insert photo" data-placement="top">#}
{#                                <i class="fal fa-camera color-fusion-300"></i>#}
{#                            </a>#}
{#                            <div class="mceExternalToolbar"></div>#}
{#                            <div class="btn-group ml-auto">#}
{#                            <a class="btn btn-outline-default bg-brand-gradient">Podgląd</a>#}
{#                            <button class="btn btn-outline-default ml-auto bg-brand-gradient">Dodaj Post</button>#}
{#                            </div>#}
{#                        </div>#}
                    </form>
                </div>
            </div>
        </div>
        <!-- Modal Top Transparent -->
                                            <div class="modal fade upload-wallpaper" tabindex="-1" role="dialog" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-top modal-transparent">
                                                    <div class="modal-content">
                                                        <div class="modal-body d-flex justify-content-center">
                                                            <form>
 <div class="input-group mr-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
  </div>
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="uploadWallpaper"
      aria-describedby="inputGroupFileAddon01" autocomplete="off">
    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
  </div>
  <div id="previewImage"></div>
</div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
        {% for post in posts %}
            <script>
                pagination['{{ post.Id }}'] = 1;
            </script>
        <!-- post comment -->
        <div class="card mb-g {% if profile.Username != user.Username and loop.first %}composed-top{% endif %} PostPanel">
            <div class="card-body pb-0 px-0 pt-0 rounded-top" {% if post.BGFilename is not null %}style="background-image: url('{{ asset('upload/social/BackGrounds/'~post.AuthorUsername~'/'~post.BGFilename) }}'); background-size: 100%;"{% endif %}>
                <div class="rounded-top px-4 text-black pt-3" style="background: rgb(255,255,255); background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 55%, rgba(255,255,255,.4) 100%);">
                    <div class="d-flex flex-row pb-3 pt-2  border-top-0 border-left-0 border-right-0" >
                        <div class="d-inline-block align-middle status status-success mr-3">
                            <span class="profile-image rounded-circle d-block" style="background-image:url('{{ asset('upload/avatars/'~post.AuthorUsername~'/'~post.AuthorAvatarFileName)|imagine_filter('my_thumb') }}'); background-size: cover;" style="width: 3.2552vw; height: 3.2552vw;"></span>
                        </div>
                        <h5 class="mb-0 flex-1 text-black fw-500 opacity-70">
                            {{ post.AuthorFirstName }} "{{post.AuthorUsername}}" {{ post.AuthorLastName }}
                            <small class="m-0 l-h-n">
                                {{post.AuthorOccupation}}
                            </small>
                        </h5>
                        <span class="fs-xs color-fusion-900">
                                                    {{post.createdAt|ago}}
                                                </span>
                    </div>
                </div>
                <div class="px-4">
                    <div class="pb-3 pt-2 border-top-0 border-left-0 border-right-0 text-muted">
                        {{ post.Content|raw }}
                    </div>
                    <div class="d-flex demo-h-spacing py-3">
                        <div>
                        <a href="javascript:void(0);" class="d-inline-flex align-items-center text-dark">
                            <i class="fas fa-heart fs-xs mr-1 text-danger"></i> <span>{{post.Likes}} Likes</span>
                        </a>&nbsp;&nbsp;&nbsp;
                        <a href="javascript:void(0);" class="d-inline-flex align-items-center text-dark">
                            <i class="fal fa-comment fs-xs mr-1"></i> <span>{{post.Comments_length}} Comments</span>
                        </a>
                        </div>
                        <div style="margin-left: auto; margin-right: 0">
                            <span>
                                Answer
                            </span>
                            &nbsp;&nbsp;&nbsp;
                            <span>
                                <a class="" data-toggle="modal" data-target="#postModal" onclick="activatePostCarousel('#post_{{ post.Id }}_carousel');">Read full</a>
                            </span>
                            {% if profile.Username == user.Username %}
                                &nbsp;&nbsp;&nbsp;
                                <span>
                                    <a href="#" >Edit</a>
                                </span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body py-0 px-4 border-faded border-right-0 border-bottom-0 border-left-0">
                <div class="d-flex flex-column align-items-center">
                    {% if post.Comments_length > 3 %}
                        <script>
                            comment_length['{{ post.Id }}'] = {{ post.MainCommentsLength - 3 }};
                        </script>
                        <span class="pt-3" id="ShowCommentsLengthTag_{{ post.Id }}"><a href="javascript: getMoreComments('{{ post.Id }}');">Show more Comments (<span id="ShowCommentsLengthNumber_{{ post.Id }}"></span>)</a></span>
                        <script>
                            document.addEventListener("DOMContentLoaded", function(event) {
                                document.getElementById('ShowCommentsLengthNumber_{{ post.Id }}').innerHTML = comment_length['{{ post.Id }}'];
                                console.log('dziala');
                            });
                        </script>
                    {% endif %}
                    <div id="loadCommentsTarget_{{ post.Id }}" class="d-flex flex-column w-100"></div>
                    {% for comment in post.Comments|slice(0, 3) %}
                    <!-- comment -->
                        <div id="comment_{{ post.Id }}_{{ loop.index }}" class="d-flex flex-row w-100 pt-4 pb-4">
                        <div class="d-inline-block align-middle status status-sm status-success mr-3">
                            <span class="profile-image profile-image-md rounded-circle d-block mt-1" style="background-image:url('{{ asset('upload/avatars/'~comment.AuthorUsername~'/'~comment.AuthorAvatarFileName)|imagine_filter('my_thumb') }}'); background-size: cover;"></span>
                        </div>
                        <div class="mb-0 flex-1 text-dark">
                            <div class="d-flex">
                                <a href="javascript:void(0);" class="text-dark fw-500">
                        {{ comment.AuthorFirstName }} "{{comment.AuthorUsername}}" {{ comment.AuthorLastName }}
                                </a><span class="text-muted fs-xs opacity-70 ml-auto">
                                                            {{comment.createdAt|ago}} minutes
                                                        </span>
                            </div>
                            <p class="mb-0">
                                {{comment.Content}}
                            </p>

                            <div>
                                <a href="javascript: addHeart('{{ comment.Id }}');" class="d-inline-flex align-items-center text-dark">
                                    <i class="fas fa-heart fs-xs mr-1 text-danger"></i> <span>0 Likes</span>
                                </a>
                                <a href="#answer_{{ comment.Id }}" data-toggle="collapse" aria-expanded="false" aria-controls="answer_{{ comment.Id }}" {% if loop.last != true %}onclick="changeCommentCss('#comment_{{ post.Id }}_{{ loop.index }}', '#comment_{{ post.Id }}_{{ loop.index+1 }}')"{% endif %}> Answer</a>
                            </div>

                            {% for Conversation in comment.CommentConversation %}
                            <div class="pl-0 d-flex flex-row w-100 pb-0 pt-4">
                                <div class="d-inline-block align-middle status status-sm status-success mr-3">
                                    <span class="profile-image profile-image-md rounded-circle d-block mt-1" style="background-image:url('{{ asset('upload/avatars/'~Conversation.AuthorUsername~'/'~Conversation.AuthorAvatarFileName)|imagine_filter('my_thumb') }}'); background-size: cover;"></span>
                                </div>
                                <div class="mb-0 flex-1 text-dark">
                                    <div class="d-flex">
                                        <a href="javascript:void(0);" class="text-dark fw-500">
                                            {{ Conversation.AuthorUsername }}
                                        </a><span class="text-muted fs-xs opacity-70 ml-auto">
                                                                    {{ Conversation.createdAt|ago }}
                                                                </span>
                                    </div>
                                    <p class="mb-0">
                                        {{Conversation.Content}}
                                    </p>
                                </div>
                            </div>
                            {%endfor%}
                            <!-- add comment -->
                            <div class="pt-3 w-100 collapse" id="answer_{{ comment.Id }}"><form id="COMMENT_{{ post.Id }}_POST" method="post">
                            <textarea id="new_comment_to_the_conversation_{{ post.Id }}" class="form-control border-0 p-0"  name="Comment_content" placeholder="add a comment..."
                                      rows="2" style="background-color: unset" onkeypress="submitComment('comment', '{{ post.Id }}')"></textarea>
                                    <input type="hidden" name="_token" value="{{ csrf_token('comment') }}">
                                    <input type="hidden" name="profile_name" value="{{ profile.Username }}">
                                    <input type="submit"
                                           style="position: absolute; left: -9999px; width: 1px; height: 1px;"
                                           tabindex="-1" />
                                </form>
                            </div>
                            <!-- add comment end -->
                        </div>
                        </div>
                    <!-- comment end -->
                    {% endfor %}
                    <div class="addCommentTarget_{{ post.Id }} d-flex flex-column w-100"></div>
                    <!-- add comment -->
                    {% if post.Comments_length > 0 %}<hr class="m-0 w-100">{% endif %}
                    <div class="py-3 w-100"><form id="COMMENT_{{ post.Id }}_POST" method="post">
                            <textarea id="new_comment_to_the_post_{{ post.Id }}" class="form-control border-0 p-0"  name="Comment_content" placeholder="add a comment..."
                                      rows="2" style="background-color: unset" onkeypress="submitComment('comment', '{{ post.Id }}')"></textarea>
                            <input type="hidden" name="_token" value="{{ csrf_token('comment') }}">
                            <input type="hidden" name="profile_name" value="{{ profile.Username }}">
                            <input type="submit"
                                   style="position: absolute; left: -9999px; width: 1px; height: 1px;"
                                   tabindex="-1" />
                        </form>
                    </div>
                    <!-- add comment end -->
                </div>
            </div>
        </div>
        <!-- post comment - end -->
            <div class="modal" id="ContactWindowModal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title text-white">
                                Change window color and transparency
                                <small class="m-0 text-white opacity-70">
                                    Everyone gonna see your changes!
                                </small>
                            </h4>
                            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="fal fa-times"></i></span>
                            </button>
                        </div>
                        <form action="{{ path('changeProfileDesignSettingsApi') }}" id="window3colors">
                            <div class="modal-body">
                                <div id="successerrortarget3"></div>
                                <div class="form-group row mt-3">
                                    <div class="col-6">
                                        <label class="text-white opacity-70">Window BackGround Color:</label>
                                        <input type="text" name="s1" class="form-control input-lg cp15" value="{% if design.settings.w3.s1 is defined %}{{ design.settings.w3.s1 }}{% endif %}" placeholder="Click to chose color" onChange="window3colorChange(this.value, 'ContactWindowBackGround');"/>
                                    </div>
                                    <div class="col-6">
                                        <label class="text-white opacity-70">Top Font Color:</label>
                                        <input type="text" name="s2" class="form-control input-lg cp15" value="{% if design.settings.w3.s2 is defined %}{{ design.settings.w3.s2 }}{% endif %}" placeholder="Click to chose color" onChange="window3colorChange(this.value, 'ContactWindowFontColor');"/>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-6">
                                        <label class="text-white opacity-70">Lower Background Color:</label>
                                        <input type="text" name="s3" class="form-control input-lg cp15" value="{% if design.settings.w3.s3 is defined %}{{ design.settings.w3.s3 }}{% endif %}" placeholder="Click to chose color" onChange="window3colorChange(this.value, 'ContactWindowLowBackGround');"/>
                                    </div>
                                    <div class="col-6">

                                        <label class="text-white opacity-70">"view all" font color:</label>
                                        <input type="text" name="s4" class="form-control input-lg cp15" value="{% if design.settings.w3.s4 is defined %}{{ design.settings.w3.s4 }}{% endif %}" placeholder="Click to chose color" onChange="window3colorChange(this.value, 'ContactWindowLowFontColor');"/>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <div class="col-6">
                                        <div class="custom-control custom-switch">
                                            <input class="custom-control-input" type="checkbox" name="c1" id="customSwitch21" onChange="window3checkBoxCheck('w3c1');" {% if design.settings.w3.c1 is defined and design.settings.w3.c1 == 'on' %}checked{% endif %}>
                                            <label class="custom-control-label" for="customSwitch21">"Contacts" Font stroke</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="custom-control custom-switch">
                                            <input class="custom-control-input" type="checkbox" name="c2" id="customSwitch22" onChange="window3checkBoxCheck('w3c2');" {% if design.settings.w3.c2 is defined and design.settings.w3.c2 == 'on' %}checked{% endif %}>
                                            <label class="custom-control-label" for="customSwitch22">"View All" Font stroke</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                        <div class="modal-footer justify-content-between">
                            <div class="">
                                <a href="javascript: sendform('window3colors');" class="btn btn-primary">Save changes!</a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                            <div class="">
                                <form action="{{ path('changeProfileDesignSettingsApiReset') }}" method="POST">
                                    <input type="hidden" name="_reset" value="reset_w3">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token('design_form_reset') }}">
                                    <button type="submit" class="btn btn-danger">Reset</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div id="target"></div>

    <div class="modal fade" id="postModal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="tre">
        <div class="modal-dialog" role="document">
            <div class="modal-content shadow-none" style="background-color: rgba(0,0,0,0)">
    <div id="postCarouselControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for post in posts %}
                    <div id="post_{{ post.Id }}_carousel" class="carousel-item" data-interval="3600000">

                                    <!-- post comment -->
                                    <div class="card">
                                        <div class="card-body pb-0 px-4 rounded-top" {% if post.BGFilename is not null %}style="background-image: url('{{ asset('upload/social/BackGrounds/'~post.AuthorUsername~'/'~post.BGFilename) }}'); background-size: 100%;"{% endif %}>
                                            <div class="d-flex flex-row pb-0 pt-0  border-top-0 border-left-0 border-right-0">
                                                <div class="d-inline-block align-middle status status-success mr-3">
                                                    <span class="profile-image rounded-circle d-block" style="background-image:url('{{ asset('upload/avatars/'~post.AuthorUsername~'/'~post.AuthorAvatarFileName)|imagine_filter('my_thumb') }}'); background-size: cover;"></span>
                                                </div>
                                                <h5 class="mb-0 flex-1 text-dark fw-500">
                                                    {{ post.AuthorFirstName }} "{{post.AuthorUsername}}" {{ post.AuthorLastName }}
                                                    <small class="m-0 l-h-n">
                                                        {{post.AuthorOccupation}}
                                                    </small>
                                                </h5>
                                                <span class="text-muted fs-xs opacity-70">
                                                    {{post.createdAt|ago}}
                                                </span>
                                            </div>
                                            <div class="pb-3 pt-2 border-top-0 border-left-0 border-right-0 text-muted">
                                                {{ post.Content|raw }}
                                            </div>

                                            <div class="d-flex demo-h-spacing py-3">
                                                <div>
                                                    <a href="javascript:void(0);" class="d-inline-flex align-items-center text-dark">
                                                        <i class="fas fa-heart fs-xs mr-1 text-danger"></i> <span>{{post.Likes}} Likes</span>
                                                    </a>&nbsp;&nbsp;&nbsp;
                                                    <a href="javascript:void(0);" class="d-inline-flex align-items-center text-dark">
                                                        <i class="fal fa-comment fs-xs mr-1"></i> <span>{{post.Comments_length}} Comments</span>
                                                    </a>
                                                </div>
                                                <div style="margin-left: auto; margin-right: 0">
                            <span>
                                Answer
                            </span>
                                                    {% if profile.Username == user.Username %}
                                                        &nbsp;&nbsp;&nbsp;
                                                        <span>
                                    <a href="#" >Edit</a>
                                </span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body py-0 px-4 border-faded border-right-0 border-bottom-0 border-left-0">
                                            <div class="d-flex flex-column align-items-center">
                                                {% if post.Comments_length > 3 %}
                                                    <script>
                                                        comment_length_full_['{{ post.Id }}'] = {{ post.MainCommentsLength - 3 }};
                                                    </script>
                                                    <span class="pt-3" id="ShowCommentsLengthTag_full_{{ post.Id }}"><a href="javascript: getMoreComments('{{ post.Id }}');">Show more Comments (<span id="ShowCommentsLengthNumber_full_{{ post.Id }}"></span>)</a></span>
                                                    <script>
                                                        document.addEventListener("DOMContentLoaded", function(event) {
                                                            document.getElementById('ShowCommentsLengthNumber_full_{{ post.Id }}').innerHTML = comment_length_full_['{{ post.Id }}'];
                                                            console.log('dziala');
                                                        });
                                                    </script>
                                                {% endif %}
                                                <div id="loadCommentsTarget2_{{ post.Id }}" class="d-flex flex-column w-100"></div>
                                                {% for comment in post.Comments|slice(0, 3) %}
                                                    <!-- comment -->
                                                    <div id="comment2_{{ post.Id }}_{{ loop.index }}" class="d-flex flex-row w-100 pt-4 pb-4">
                                                        <div class="d-inline-block align-middle status status-sm status-success mr-3">
                                                            <span class="profile-image profile-image-md rounded-circle d-block mt-1" style="background-image:url('{{ asset('upload/avatars/'~comment.AuthorUsername~'/'~comment.AuthorAvatarFileName)|imagine_filter('my_thumb') }}'); background-size: cover;"></span>
                                                        </div>
                                                        <div class="mb-0 flex-1 text-dark">
                                                            <div class="d-flex">
                                                                <a href="javascript:void(0);" class="text-dark fw-500">
                                                                    {{ comment.AuthorFirstName }} "{{comment.AuthorUsername}}" {{ comment.AuthorLastName }}
                                                                </a><span class="text-muted fs-xs opacity-70 ml-auto">
                                                                {{comment.createdAt|ago}} minutes
                                                            </span>
                                                            </div>
                                                            <p class="mb-0">
                                                                {{comment.Content}}
                                                            </p>

                                                            <div><a href="javascript: addHeart('{{ comment.Id }}');" class="d-inline-flex align-items-center text-dark">
                                                                    <i class="fas fa-heart fs-xs mr-1 text-danger"></i> <span>0 Likes</span>
                                                                </a>
                                                                <a href="#answer_{{ comment.Id }}" data-toggle="collapse" aria-expanded="false" aria-controls="answer_{{ comment.Id }}" {% if loop.last != true %}onclick="changeCommentCss('#comment_{{ post.Id }}_{{ loop.index }}', '#comment_{{ post.Id }}_{{ loop.index+1 }}')"{% endif %}> Answer</a></div>

                                                            {% for Conversation in comment.CommentConversation %}
                                                                <div class="pl-0 d-flex flex-row w-100 pb-0 pt-4">
                                                                    <div class="d-inline-block align-middle status status-sm status-success mr-3">
                                                                        <span class="profile-image profile-image-md rounded-circle d-block mt-1" style="background-image:url('{{ asset('upload/avatars/'~Conversation.AuthorUsername~'/'~Conversation.AuthorAvatarFileName)|imagine_filter('my_thumb') }}'); background-size: cover;"></span>
                                                                    </div>
                                                                    <div class="mb-0 flex-1 text-dark">
                                                                        <div class="d-flex">
                                                                            <a href="javascript:void(0);" class="text-dark fw-500">
                                                                                {{ Conversation.AuthorUsername }}
                                                                            </a><span class="text-muted fs-xs opacity-70 ml-auto">
                                                                        {{ Conversation.createdAt|ago }}
                                                                    </span>
                                                                        </div>
                                                                        <p class="mb-0">
                                                                            {{Conversation.Content}}
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            {%endfor%}
                                                            <!-- add comment -->
                                                            <div class="pt-3 w-100 collapse" id="answer_{{ comment.Id }}"><form id="Conversation_COMMENT2_{{ post.Id }}_POST" method="post">
                                <textarea id="new_comment_to_the_conversation_{{ post.Id }}" class="form-control border-0 p-0"  name="Comment_content" placeholder="add a comment..."
                                          rows="2" style="background-color: unset" onkeypress="submitComment('comment', '{{ post.Id }}')"></textarea>
                                                                    <input type="hidden" name="_token" value="{{ csrf_token('comment') }}">
                                                                    <input type="hidden" name="profile_name" value="{{ profile.Username }}">
                                                                    <input type="submit"
                                                                           style="position: absolute; left: -9999px; width: 1px; height: 1px;"
                                                                           tabindex="-1" />
                                                                </form>
                                                            </div>
                                                            <!-- add comment end -->
                                                        </div>
                                                    </div>
                                                    <!-- comment end -->
                                                {% endfor %}
                                                <div class="addCommentTarget_{{ post.Id }} d-flex flex-column w-100"></div>
                                                <!-- add comment -->
                                                {% if post.Comments_length > 0 %}<hr class="m-0 w-100">{% endif %}
                                                <div class="py-3 w-100"><form id="COMMENT2_{{ post.Id }}_POST" method="post">
                                <textarea id="new_comment_to_the_post_2_{{ post.Id }}" class="form-control border-0 p-0"  name="Comment_content" placeholder="add a comment..."
                                          rows="2" style="background-color: unset" onkeypress="submitComment('comment', '{{ post.Id }}')"></textarea>
                                                        <input type="hidden" name="_token" value="{{ csrf_token('comment') }}">
                                                        <input type="hidden" name="profile_name" value="{{ profile.Username }}">
                                                        <input type="submit"
                                                               style="position: absolute; left: -9999px; width: 1px; height: 1px;"
                                                               tabindex="-1" />
                                                    </form>
                                                </div>
                                                <!-- add comment end -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- post comment - end -->

                    </div>
            {% endfor %}

            <a id="previous" class="carousel-control-prev text-black-50" href="#postCarouselControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a id="next" class="carousel-control-next" href="#postCarouselControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon text-black-50" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
            </div>
        </div>
    </div>

</div>
